body{
  background-color: black;
  font-family: 'Anton', sans-serif;
  font-weight: 250;
  color: white;
  font-size: 20px;
  line-height: 30px;
}

h1,h2,h3{
  color: green;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  line-height: 30px;
}
p{
  color: black;
}

a{
  color:red;

}
a:hover{
background-color: yellow;
color: green;
}

.container{
  width: 500px;
  margin: 0 auto;
}
.card{
  background:white;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px yellow;
}
.text-center{
  text-align: center;
}

.inline-cards{
  color: blue;
  display: block;
}

@media (max-width: 960px){
  .container{
    width: 700px;
  }
}

@media (max-width: 720px){
  .container{
    width: 500px;
  }
}
@media (max-width: 540px){
  .container{
    width: 300px;
  }
}
